/* General */
body {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

body > div, nav {
    margin-left: -8px;
    width: 98vw;
    display: flex;
}

.header {
    margin: 10px;
    margin-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 3px solid #000;
    position: absolute;
    line-height: 20px;
}

.content {
    width: 90vw;
    height: 78vh;
    background-color: #fff;
    padding: 5vh 5vw;
    flex-direction: column;
    border: 1px solid rgba(217, 217, 217, 0.5);
}

/* to be removed !!! */
.content > div:nth-child(2) {
    margin-top: 20vh;
}

/* Styling for nav bar */
nav {
    margin-top: -10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding: 2vh 2vw 1.2vh 2vw;
    background-color: #000;
}

#logo {
    flex-grow: 3;
}

#logo > a > img {
    height: 50px;
    width: 50px;
}

#nav-elements {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

#nav-elements > li {
    list-style: none;
}

#nav-elements > li > a {
    text-decoration: none;
    font-size: 1.7em;
    padding: 1vw;
    color: #fff;
}

#nav-elements > li > a:visited {
    color: #fff;
}

#nav-elements > li > a:hover {
    border: 1px solid #fff;
}

/* Styling for home page */
#home-div {
    height: 87vh;
    flex-direction: column;
    color: #fff;
    padding: 9vh 1vw 3vh 1vw;
    align-items: center;
}

#greeting {
    border-bottom: 1px solid #fff;
}

#greeting > p {
    font-size: 25vh;
    font-family: "Times New Roman", Times, serif;
    line-height: 2vh;
}

#intro {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.underline {
    text-decoration: underline;
}

/* Styling for work page */
#work-div {
    flex-direction: column;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    margin-top: 16vh;
}

.project {
    flex-grow: 1;
    border: 1px solid #000;
    height: 24vw;
    width: 24vw;
    margin: 0px 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project:hover {
    cursor: pointer;
}

.project > p:nth-of-type(1) {
    margin-top: 5vw;
}

.project:nth-of-type(2) > p {
    margin-top: 8vw;
}

.project-name {
    font-family: 'Playfair Display', serif; 
    font-size: 5vw;
}

.summary {
    display: flex;
    flex-direction: row;
}

.summary > p {
    font-size: 1em;
}

.summary > p:nth-of-type(1) {
    flex-grow: 4;
    text-align: left;
}

.summary > p:nth-of-type(2) {
    flex-grow: 1;
    text-align: right;
}

#zeitraum-summary {
    margin-top: 3.5vw;
}

/* For project description */
.description {
    width: 98vw;
    height: 96vh;
    
    margin: auto;
    background-color: #F0FEFE;
    flex-direction: column;
}

.close {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.close:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    margin-top: 3vh;
}

.title > p {
    font-family: 'Playfair Display', serif; 
    font-size: 4em;
    text-decoration: underline;
}

.intro {
    border: 2px solid  #e0dbc7;
    width: 65vw;
    padding: 15px;
    margin: auto;
}

.intro, .showcase-main {
    display: flex;
    flex-direction: row;
}

.showcase-main {
    padding-top: 5vh;
    margin-left: -8px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.details {
    font-family: 'Libre Caslon Display', serif;
    font-size: 1.8em;
    padding: 0px 2vw;
    line-height: 50px;
    align-self: center;
}

.intro-next {
    text-align: center;
    font-size: 2em;
    align-self: center;
    padding-top: 2em;
}

.intro-next:hover, .next:hover, .back:hover {
    cursor: pointer;
}

.next, .back {
    text-align: center;
    align-self: center;
    font-size: 5vmin;
}

.back {
    padding-right: 30px;
}

.next {
    padding-left: 30px;
}


@media screen and (orientation: landscape) {
    .showcase-main > div > img {
        width: 110vh;
        height: 80vh;
    }
} 

@media screen and (orientation: portrait) {
    .showcase-main > div > img {
        width: 75vw;
        height: 80vh;
    }
} 

/* Styling for about page */
#about-content {
    border: 1px solid red;
}

/* Others */
.hidden {
    display: none;
}
