.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    font-size: 1.2em;
    grid-gap: 1em;
}

.wrapper > div {
    padding: 1em;
    background: teal
}

.wrapper > div:nth-child(odd) {
    background: skyblue;
}

